{% extends "../../base.html" %}

{% block crumbs %}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                <a href="/yqjr/index">主页</a>
            </li>
            <li class="active">
                <a class="this">基础信息</a>
            </li>
            <li class="active">
                <a class="this-page" href="/base/env/">测试环境管理</a>
            </li>
            <li class="active">
                <a class="">添加环境</a>
            </li>
        </ol>

    </div>
</div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">添加测试环境</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="post" action="/base/env_add/">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">环境名称</label>
                        <div class="col-sm-6">
                            <input type="text" name="env_name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">URL</label>
                        <div class="col-sm-6">
                            <input type="text" name="url" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">密钥</label>
                        <div class="col-sm-6">
                            <input type="text" name="private_key" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属项目</label>
                        <div class="col-sm-6">
                            <select name="prj_id" class="form-control">
                                {% for prj in prj_list %}
                                    <option value={{ prj.prj_id }}>{{ prj.prj_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">环境描述</label>
                        <div class="col-sm-6">
                            <textarea name="description" placeholder="请输入内容" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-6">
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

</div>

{% endblock %}