{% extends "../../base.html" %}

{% block crumbs %}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                <a href="/yqjr/index">主页</a>
            </li>
            <li class="active">
                <a class="this">基础信息</a>
            </li>
            <li class="active">
                <a class="this-page">接口管理</a>
            </li>
        </ol>

    </div>
</div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <a href="/base/interface_add/" class="btn btn-primary">添加接口</a>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>接口名称</th>
                        <th>所属项目</th>
                        <th>描述</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for if in if_list %}
                    <tr>
                        <td>{{ if.if_id }}</td>
                        <td>{{ if.if_name }}</td>
                        <td>{{ if.project }}</td>
                        <td>{{ if.description }}</td>
                        <td>
                            <a href="" class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                            <a href="" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}